@mixin normalize() {
    padding: 0;
    margin: 0;
  }
  
  body {
    @include normalize;
    font-family: $PrimaryFont;
  }
  
  h1 {
    @include normalize;
  }
  
  h2 {
    @include normalize;
  }
  
  h3 {
    @include normalize;
  }
  
  p {
    @include normalize;
  }
  
  ul {
    @include normalize;
    list-style: none;
  }
  