@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins&display=swap');


$PrimaryFont: 'Poppins', sans-serif;
$Headlin_1: 'Playfair Display', sans-serif;
$PrimaryColor: #1a2236;
